// 1. BASIC
body {
  font-family: $bodytext;

  .row {
    &:after,
    &:before {
      content: none;
    }
  }
}

a.skiplink {
  background-color: #000;
  color: #fff;
  display: block;
  font-size: 1.3em;
  left: -1000em;
  padding: 0.8em;
  position: absolute;
  z-index: 10;

  &:focus {
    top: 1em;
    left: 1em;
    z-index: 1000;
  }
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;

  &:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
  }
}

a:hover,
a:focus {
  color: #000000;
}

// 2. ANIMATIONS
// 3. TYPOGRAPHY
ul li,
ol li,
p {
  font-family: $bodytext;

  &:last-child {
    margin-bottom: 0;
  }
}

body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $header;
    font-weight: 700;
  }
}

h1 {
  font-size: rem-calc(48);
  line-height: rem-calc(65);
}

h2 {
  font-size: rem-calc(36);
  line-height: rem-calc(49);
}

h3 {
  font-size: rem-calc(28);
  line-height: rem-calc(38);
}

h4 {
  font-size: rem-calc(24);
  line-height: rem-calc(32);
}

h5,
h6 {
  font-size: rem-calc(20);
  line-height: rem-calc(27);
}

/* SLICKSLIDER */
.slickslider {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;

  .slick-list,
  .slick-track {
    width: 100%;
    overflow: hidden;
  }

  li {
    float: left;

    img {
      width: 100%;
    }
  }
}

body .menu .active a {
  background: transparent;
}

body {
  .tooltip {
    cursor: pointer;
    border-bottom: none;
  }
}

/* GLOBAL STYLES */
.btn {
  transition: $transition;
}

.text {
  font-family: $bodytext;

  ul li,
  ol li,
  p {
    font-family: $bodytext;
  }
}

.image {
  display: block;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

// partials

.single-header-article {
  position: relative;

  &:hover {
    .image-container {
      transform: scale(1.2);
    }

    .article-title {
      color: $color-dark-blue !important;
      text-decoration: underline;

      i {
        margin-left: rem-calc(10) !important;
      }
    }
  }

  .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .image-wrapper {
    height: rem-calc(273);
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-bottom: rem-calc(16);

    .image-container {
      height: 100%;
      background-size: cover;
      transition: all 0.5s ease;
    }
  }

  .content {
    .article-category{
      text-transform: uppercase;
      color: $color-dark-blue;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(4);
    }

    .article-title {
      font-size: rem-calc(20);
      line-height: rem-calc(27);
      font-weight: 700;

      i {
        transition: $transition;
        margin-left: rem-calc(5);
      }
    }
  }
}

.featured-article {
  position: relative;

  &:hover {
    .image-container {
      transform: scale(1.2);
    }

    .article-title {
      color: $color-dark-blue !important;
      text-decoration: underline;

      i {
        margin-left: rem-calc(10) !important;
      }
    }
  }

  .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .image-wrapper {
    height: rem-calc(451);
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-bottom: rem-calc(16);

    .image-container {
      height: 100%;
      background-size: cover;
      transition: all 0.5s ease;
    }
  }

  .content {
    .article-category{
      text-transform: uppercase;
      color: $color-dark-blue;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(4);
    }

    .article-title {
      font-size: rem-calc(28);
      line-height: rem-calc(38);
      font-weight: 700;

      i {
        transition: $transition;
        margin-left: rem-calc(5);
      }
    }

    p {
      font-size: rem-calc(20);
      line-height: rem-calc(30);
    }
  }
}

.single-article-list {
  position: relative;
  display: flex;

  &:hover {
    .image-container {
      transform: scale(1.2);
    }

    .article-title {
      color: $color-dark-blue !important;
      text-decoration: underline;

      i {
        margin-left: rem-calc(10) !important;
      }
    }
  }

  .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .image-wrapper {
    height: rem-calc(53);
    min-width: rem-calc(80);
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin-bottom: rem-calc(16);
    margin-left: rem-calc(15);

    .image-container {
      height: 100%;
      background-size: cover;
      transition: all 0.5s ease;
    }
  }

  .content {
    .article-category{
      text-transform: uppercase;
      color: $color-dark-blue;
      font-size: rem-calc(14);
      margin-bottom: rem-calc(4);
    }

    .article-title {
      font-size: rem-calc(20);
      line-height: rem-calc(27);
      font-weight: 700;

      i {
        transition: $transition;
        margin-left: rem-calc(5);
      }
    }
  }
}

// BLOCKS

.header-articles {
  position: relative;
  margin: rem-calc(104 0);

  .article-slider-wrapper {
    width: 100%;
  }
}

.partners {
  position: relative;
  margin: rem-calc(104 0);

  h2 {
    margin-bottom: rem-calc(24);
  }

  .partner-slider-wrapper {
    .slick-track {
      display: flex;
    }
    .slick-track .slick-slide {
      display: flex;
      height: auto;
      align-items: center;
      justify-content: center;
    }
  }
}

.global-cta {
  background: $color-olive-green;
  padding: rem-calc(65 0);

  .cta-title {
    font-size: rem-calc(48);
    line-height: rem-calc(65);
    font-weight: 700;
    margin-bottom: rem-calc(20);
  }

  .text {
    p {
      font-size: rem-calc(20);
      line-height: rem-calc(30);
    }
  }
}

.overview-themes {
  position: relative;
  margin: rem-calc(104 0);

  .blog-terms {
    ul {
      li {
        margin: rem-calc(0 10 10 0);
        position: relative;
        border: 1px solid $color-dark-blue;
        border-radius: 4px;
        display: inline-block;

        &:last-of-type {
          background: none;
          border: none;

          &:hover {
            background: none;
          }
        }

        &.hidden {
          margin-top: rem-calc(10);
          display: none;
        }

        i {
          color: $color-dark-blue;
          margin-right: rem-calc(0);
        }

        a{
          color: $color-dark-blue;
          font-size: 24px;
          line-height: 33px;
          font-weight: 700;
          display: block;
          padding: rem-calc(10);
        }

        &:hover {

        }
      }
    }

    .btn-container {
      display: inline-block;

      .load-more {
        font-size: rem-calc(16);
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;

        &.hidden {
          display: none;
        }
      }

      .load-less {
        font-size: rem-calc(16);
        display: none;
        cursor: pointer;
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 700;

        &.hidden {
          display: none;
        }
      }

    }
  }
}

.section.featured-article {
  background: $color-broken-white;
  margin: rem-calc(104 0);
  padding: rem-calc(104 0);

  .image-wrapper {
    height: rem-calc(317);
    overflow: hidden;
    position: relative;
    border-radius: 4px;

    .image-container {
      height: 100%;
      background-size: cover;
      transition: all 0.5s ease;
    }
  }
}
