footer {
  background: $color-dark-blue;

  .widgets {
    padding: rem-calc(70 0);
  }

  .logo-wrap {
    float: left;
    margin-right: rem-calc(64);

    .logo {
      width: rem-calc(125);
      height: rem-calc(57);
      background-size: cover;
      position: relative;
    }
  }

  h6 {
    font-size: rem-calc(25);
    line-height: rem-calc(30);
    color: $color-white;
    margin-bottom: rem-calc(20);
  }

  .menu,
  .socials,
  .socials ul {
    padding: 0;
    margin: 0;

    li {
      margin-bottom: rem-calc(16);
      display: block;
      width: 100%;

      a {
        padding: 0;
        color: $color-white;

        &:hover {
          text-decoration: underline;
        }

        i {
          margin-right: rem-calc(20);
          font-size: rem-calc(18);
        }
      }
    }
  }

  .copyright {
    background: #D91001;
    padding: rem-calc(33 0);

    .columns {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    span {
      color: $color-white;
      font-weight: 700;
      font-size: rem-calc(15); 
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        color: $color-white;
        margin-right: rem-calc(40);

        a {
          color: $color-white;
        }
      }
    }
  }
}
