$color-form-green: #229c2d;
$color-form-grey: #979797;
$color-form-grey-light: #828282;
$color-form-red: #dd3131;

.gform_wrapper {
  display: block;

  form {
    div.validation_error {
      color: $color-form-red;
      border: 0;
      position: relative;
      font-weight: 400;
      text-align: left;
      padding: 1rem 1rem 1rem 2rem;
      margin: 0;

      &:before {
        content: '\f06a';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
				font-family: "Font Awesome\ 5 Pro";
				font-weight: 400;
      }
    }
  }

  .gform_body {
    .gform_fields {
      .gfield {
        margin: 0 0 2rem;

        input {
          height: 50px;
          border: 1px solid $color-form-grey;

          &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
            padding: 0 1rem;
            border-radius: 4px;
            border: none;
          }
        }

        .gfield_label {
          font-size: 1rem;
          font-weight: normal;
          font-weight: 700;

          .gfield_required{
            color: #000;
          }
        }

        .gfield_description {
          font-size: 14px;
        }

        &.hide-label {
          .gfield_label {
            display: none;
          }
        }

        .ginput_container {
          margin-top: 0;
        }

        .ginput_container_number,
        .ginput_container_text {
          margin-top: 0;

          select,
          input {

            &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
              padding: 0 1rem;
              border-radius: 4px;
              border: none;
            }
          }
        }

        .ginput_container_textarea {
          textarea {
            border: 1px solid $color-form-grey;
            padding: 1rem;
          }
        }

        .ginput_container_select {
          select {
            border: 1px solid $color-form-grey;
            height: 50px;
            background-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' data-prefix='far' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'></path></svg>");
            background-origin: content-box;
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 12px 15px;
            padding: 0 1rem;

            &:hover {
              cursor: pointer;
            }

            option {
              &.gf_placeholder {
                color: $color-form-grey-light;
              }
            }
          }
        }

        .ginput_container_multiselect {
          select {
            border: 1px solid #979797;
            padding: 1rem;

            option {
              margin-bottom: .3rem;
            }
          }
        }

        .ginput_container_checkbox {
          .gfield_checkbox {
            li {

              label {
                display: block;
                position: relative;
                padding: 2px 0 2px 2.5rem;
                font-size: 1rem;

                &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 2px;
                  display: block;
                  background-color: #fff;
                  border: 1px solid #979797;
                  width: 25px;
                  height: 25px;
                }
              }

              input[type=checkbox] {
                position: absolute;
                left: -999em;

                &:focus + label:before {
                  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.3);
                  border: 1px solid #979797;
                  font-weight: 500;
                }

                &:checked + label:after {
                  content: '\f00c';
									position: absolute;
									left: 2px;
									top: 0;
									font-weight: 900;
									font-family: "Font Awesome\ 5 Pro";
									font-size: 20px;
									color: $color-form-green;
                }
              }
            }
          }
        }

        .ginput_container_radio {
          .gfield_radio {
            li {

              label {
                display: block;
                position: relative;
                padding: 2px 0 2px 2.5rem;
                font-size: 1rem;

                &:before {
                  content: '';
                  position: absolute;
                  left: 0;
                  top: 2px;
                  display: block;
                  background-color: #fff;
                  border: 1px solid #979797;
                  width: 25px;
                  height: 25px;
                  border-radius: 50%
                }

                &:after {
                  content: '';
                  position: absolute;
                  left: 4px;
                  top: 6px;
                  display: block;
                  width: 17px;
                  height: 17px;
                  border-radius: 50%;
                  background-color: $color-form-green;
                  opacity: 0;
                }
              }


              input[type=radio] {
                position: absolute;
                left: -999em;

                &:focus + label:before {
                  box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.3);
                  border: 1px solid #979797;
                  font-weight: 500;
                }

                &:checked + label:after {
                  opacity: 1;
                }
              }
            }
          }
        }

        &.radio_small {
          .ginput_container_radio {
            .gfield_radio {
              text-align: left;

              li {
                display: inline-block;
                clear: none;

                &:not(:last-child){
                  margin-right: 2rem;
                }

                label {
                  white-space: nowrap;
                }
              }
            }
          }
        }

        .ginput_container_date {
          position: relative;

          input {
            width: 100%;

            &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
              padding: 0 1rem;
            }
          }

          .ui-datepicker-trigger {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 1rem;

            &:hover {
              cursor: pointer;
            }
          }

          .clear-multi {
            .ginput_container_date {
              width: 33.33%;
              margin: 0;

              &:not(:last-child){
                padding-right: 1rem;
              }

              select {
                border: 1px solid $color-form-grey;
                height: 50px;
                background-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' data-prefix='far' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'></path></svg>");
                background-origin: content-box;
                background-position: right center;
                background-repeat: no-repeat;
                background-size: 12px 15px;
                padding: 0 1rem;

                &:hover {
                  cursor: pointer;
                }

                option {
                  &.gf_placeholder {
                    color: $color-form-grey-light;
                  }
                }
              }
            }
          }
        }

        .ginput_container_time {
          width: 50%;
          max-width: 50%;
          margin: 0;

          &:first-child {
            padding-right: 1rem;
          }

          input {
            width: 100%;

            &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
              padding: 0 1rem;
            }
          }

          label {
            text-align: left;
            margin: 0;
          }

          i {
            display: none;
          }
        }

        .ginput_container_phone {
          input {
            &:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]){
              padding: 0 1rem;
            }
          }
        }

        .ginput_container_address {
          select {
            border: 1px solid $color-form-grey;
            height: 50px;
            background-image: url("data:image/svg+xml;utf8,<svg aria-hidden='true' data-prefix='far' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path fill='currentColor' d='M441.9 167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17 0L224 328.2 42.9 147.5c-4.7-4.7-12.3-4.7-17 0L6.1 167.3c-4.7 4.7-4.7 12.3 0 17l209.4 209.4c4.7 4.7 12.3 4.7 17 0l209.4-209.4c4.7-4.7 4.7-12.3 0-17z'></path></svg>");
            background-origin: content-box;
            background-position: right center;
            background-repeat: no-repeat;
            background-size: 12px 15px;
            padding: 0 1rem;

            &:hover {
              cursor: pointer;
            }

            option {
              &.gf_placeholder {
                color: $color-form-grey-light;
              }
            }
          }

          label {
            font-size: 1rem;
            margin: 1rem 0 0 0;
          }
        }

        .ginput_container_fileupload {
          input {
            background-color: #fff;
            color: #000;
            padding:  0.75rem 1rem;
            height: auto;
            min-height: 50px;
          }

          .gform_drop_area {
            border: 1px solid $color-form-grey;
            background-color: #fff;

            .gform_button_select_files {
              background-color: $color-form-green;
              color: #fff;
              border: 0;
              font-size: 1rem;
              height: 45px;
              padding: 6px 1.5rem!important;

              &:hover {
                background-color: darken($color-form-green, 5%);
                text-decoration: underline;
              }
            }
          }

          .gform_drop_instructions {
            color: #000;
            font-size: 1rem;
          }
        }

        [type='text']:focus,
        [type='password']:focus,
        [type='date']:focus,
        [type='datetime']:focus,
        [type='datetime-local']:focus,
        [type='month']:focus,
        [type='week']:focus,
        [type='email']:focus,
        [type='number']:focus,
        [type='search']:focus,
        [type='tel']:focus,
        [type='time']:focus,
        [type='url']:focus,
        [type='color']:focus,
        textarea:focus {
          box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.3);
          border: 1px solid #979797;
        }

        &.gf_left_half,
        &.gfield.gf_right_half {
          width: 50%;
        }

        input,
        textarea {
          margin-bottom: 0;

          &::placeholder {
            color: #828282;
          }
          &::-webkit-input-placeholder {
            color: #828282;
          }
          &::-moz-placeholder {
            color: #828282;
          }
          &:-ms-input-placeholder {
            color: #828282;
          }
          &:-moz-placeholder {
            color: #828282;
          }
        }

        div.ginput_complex span.ginput_left select,
        div.ginput_complex span.ginput_right select,
        input[type=radio],
        select {
          margin-bottom: 0;
        }

        &.gfield_error {
          margin: 0 0 2rem;
          border: 0;
          background-color: transparent;

          .validation_message {
            color: $color-form-red;
            border: 0;
            position: relative;
            font-weight: 400;
            text-align: left;
            padding: 0 0 0 1.5rem;
            margin: .5rem 0 0 0;

						&:before {
			        content: '\f06a';
			        position: absolute;
			        left: 0;
			        top: 50%;
			        transform: translateY(-50%);
			        font-size: 1rem;
							font-family: "Font Awesome\ 5 Pro";
							font-weight: 400;
			      }
          }

          .gfield_label {
            color: #000;
            margin-top: 0;
          }

          &.gf_left_half,
          &.gf_right_half {
            margin: inherit;
            max-width: 50% !important;
            padding-right: 1rem !important;
            margin: 0 0 2rem;
          }
          .ginput_container {
            input,
            textarea,
            select {
              border-color: $color-form-red;
            }

            &.ginput_container_fileupload {
              .validation_message {
                display: none;
              }
            }
          }

          .ginput_container_checkbox .gfield_checkbox li label:before {
            border-color: $color-form-red;
          }

          .ginput_container_radio .gfield_radio li label:before {
            border-color: $color-form-red;
          }

          input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
          textarea {
            border-color: $color-form-red
          }
        }
      }
    }
  }

  .gform_footer input.button,
  .gform_footer input[type=submit],
  .gform_page_footer input.button,
  .gform_page_footer input[type=submit] {
    background-color: $color-form-green;
    color: #fff;
    border: 0;
    font-size: 1rem;
    height: 45px;
    padding: 6px 1.5rem!important;

    &:hover {
      background-color: darken($color-form-green, 5%);
      text-decoration: underline;
    }
  }
}

body {
  .gform_wrapper .top_label li.gfield.gf_left_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker),
  .gform_wrapper .top_label li.gfield.gf_right_half .ginput_container:not(.gfield_time_hour):not(.gfield_time_minute):not(.gfield_time_ampm):not(.ginput_container_date):not(.ginput_quantity):not(.datepicker) {
    margin-top: 0;
  }
}

//Tablet and smaller
@media only screen and (max-width: 63.938em) {
  .gform_wrapper ul.gform_fields li.gfield.gfield_error+li.gfield.gfield_error {
    margin-top: 0 !important;
  }
}

// Mobile
@media only screen and (max-width: 40em) {
  .gform_wrapper {
    .gform_body {
      .gform_fields {
        .gfield {
          &.gf_left_half,
          &.gf_right_half {
            display: inline-block;
            clear: none;
          }

          &.gf_left_half {
            padding-right: 16px;
          }

          .ginput_container_date {
            .clear-multi {
              display: block;

              .ginput_container_date {

                &:nth-child(1){
                  width: 50%;
                  display: inline-block;
                  clear: none;
                }
                &:nth-child(2){
                  width: 50%;
                  display: inline-block;
                  clear: none;
                  padding-right: 0 !important;
                }
                &:nth-child(3){
                  width: 100%;
                  padding: 0;
                  display: block;
                  margin-top: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
