header {
  position: relative;

  .top-nav {
    padding: rem-calc(11 0);
    background: $color-dark-blue;
    position: relative;

    .right-menu {
      text-align: right;

      ul {
        padding: 0;
        margin: 0;
        float: right;

        li {
          display: inline-block;
          margin-right: rem-calc(32);

          &:last-of-type {
            margin-right: 0;
          }

          a {
            color: $color-white;
            text-transform: uppercase;
            padding: 0;
            font-size: rem-calc(14);
            line-height: rem-calc(18);

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .header-wrap {
    padding: rem-calc(15 0);
    background: $color-blue-light;
    border-bottom: 1px solid $color-dark-blue;

    .inner-wrap {
      display: flex;
      align-items: center;
    }

    .logo-wrap {
      float: left;
      margin-right: rem-calc(64);

      .logo {
        width: rem-calc(125);
        height: rem-calc(57);
        background-size: cover;
        position: relative;
      }
    }

    #menu, {
      ul {
        &.submenu {
          top: calc(100% + 1.8rem);
          left: 50%;
          max-width: 300px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          padding: rem-calc(20 11);
          min-width: rem-calc(190);
          border-radius: 4px;
          background: $color-broken-white;

          &:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 0;
            height: 0;
            transform: translateX(-50%);
            border: solid transparent;
            border-color: rgba(255,255,255,0);
            border-bottom-color: $color-broken-white;
            border-width: 8px;
          }

          li {
            position: relative;
            margin-bottom: rem-calc(16);

            a {
              text-transform: inherit;
              font-weight: 400;
              position: relative;
              display: block !important;
              font-size: rem-calc(16);
              white-space: normal;
              line-height: rem-calc(19);

              &:after {
                display: none;
              }
            }
          }
        }

        li {
          display: inline-block;
          margin-right: rem-calc(64);

          &:last-of-type {
            margin-right: 0;
          }

          &.is-dropdown-submenu-parent {
            a {
              &:after {
                border: none;
                content:'\f078';
                font-family: $icons;
                top: 0;
                margin-top: 0;
                right: -6px;
              }
            }
          }

          &.current-menu-item {

          > a {
              color: $color-black;
              background: none;
              border-bottom: 2px solid $color-black;
            }
          }

          a {
            text-transform: inherit;
            font-size: rem-calc(16);
            color: $color-black;
            font-weight: 700;
            padding: 0;
            text-transform: uppercase;
            padding-bottom: 2px;

            &:hover {
              background: none;
              text-decoration: none;
              border-bottom: 2px solid $color-black;
            }
          }
        }
      }
    }
    .right-menu {
      margin: 0;
      margin-left: auto;
      padding: 0;

      li {
        display: inline-block;
        margin-right: rem-calc(64);

        &:last-of-type {
          margin-right: 0;
        }

        a {
          text-transform: inherit;
          font-size: rem-calc(16);
          color: $color-black;
          font-weight: 700;
          padding: 0;
          text-transform: uppercase;
          padding-bottom: 2px;

          &:hover {
            background: none;
            text-decoration: none;
            border-bottom: 2px solid $color-black;
          }
        }
      }
    }
  }
}

.blue-header-space {
  position: absolute;
  height: rem-calc(243);
  width: 100%;
  background: $color-blue-light;
}
