// COLORS
$color-grey: #5D6162;
$color-white: #ffffff;
$color-black: #1A1919;
$color-blue-light: #94BDCF;
$color-warm-red: #FF5A52;
$color-broken-white: #FAF5E6;
$color-dark-blue: #3E5565;
$color-olive-green: #BCB688;
$color-turqoise: #00B2A9;

// FONTS
$header: 'Open Sans', sans-serif;
$bodytext: 'Open Sans', sans-serif;
$icons: "Font Awesome\ 5 Pro";
$transition: all .2s cubic-bezier(.17,.67,.83,.67);
